.bg-image {
  background-image: url("https://htmldemo.net/adda/adda/assets/images/banner/profile-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 99vw;
  height: 42vh;
}
.center-col-land {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-tab {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
