.img-size {
  width: 24rem;
}
.flex-div-user {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.div-erik {
  background: white;
  padding: 1.5rem;
  margin-top: 2rem;
  box-shadow: 0px 1px 15px 0px rgba(51, 51, 51, 0.4);
  width: 26rem;
}
.pra-text {
  font-size: 1.5rem;
  color: #444444;
}
.er-text {
  font-size: 2rem;
  color: #333333;
  font-weight: 700;
}
.div-orange-col {
  background-color: rgb(220, 71, 50);
  margin-top: -0.6rem;
  width: 3rem;
  height: 0.01rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.mar-to-bot {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  border-radius: 0.5rem;
}
.flex-post-left {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.img-size-circ {
  border-radius: 10rem;
}
.post-text-left {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  color: #333333;
}
.margin-left-right {
  margin-left: 2rem;
}
@media (max-width: 1024px) {
  .mid-screen {
    font-size: 1.4rem;
  }
  .mid-img-screen {
    width: 19rem;
  }
}
@media (max-width: 768px) {
  .mid-screen {
    font-size: 1.7rem;
  }
  .mid-img-screen {
    width: 22rem;
  }
}
